<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gestionnaire">
            <h2><span jhiTranslate="laFactoryApp.gestionnaire.detail.title">Gestionnaire</span> {{gestionnaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="laFactoryApp.gestionnaire.nom">Nom</span></dt>
                <dd>
                    <span>{{gestionnaire.nom}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.gestionnaire.prenom">Prenom</span></dt>
                <dd>
                    <span>{{gestionnaire.prenom}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.gestionnaire.coordonnees">Coordonnees</span></dt>
                <dd>
                    <span>{{gestionnaire.coordonnees}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gestionnaire', gestionnaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
