<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projecteur">
            <h2><span jhiTranslate="laFactoryApp.projecteur.detail.title">Projecteur</span> {{projecteur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="laFactoryApp.projecteur.code">Code</span></dt>
                <dd>
                    <span>{{projecteur.code}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.projecteur.cout">Cout</span></dt>
                <dd>
                    <span>{{projecteur.cout}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.projecteur.dispo">Dispo</span></dt>
                <dd>
                    <span>{{projecteur.dispo}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.projecteur.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{projecteur.dateDebut}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.projecteur.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{projecteur.dateFin}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.projecteur.salle">Salle</span></dt>
                <dd>
                    <div *ngIf="projecteur.salle">
                        <a [routerLink]="['/salle', projecteur.salle?.id, 'view']">{{projecteur.salle?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/projecteur', projecteur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
