<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="module">
            <h2><span jhiTranslate="laFactoryApp.module.detail.title">Module</span> {{module.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="laFactoryApp.module.nom">Nom</span></dt>
                <dd>
                    <span>{{module.nom}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.module.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{module.dateDebut}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.module.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{module.dateFin}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.module.formateurs">Formateurs</span></dt>
                <dd>
                    <span *ngFor="let formateurs of module.formateurs; let last = last">
                        <a [routerLink]="['/formateur', formateurs?.id, 'view' ]">{{formateurs.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.module.stagiaires">Stagiaires</span></dt>
                <dd>
                    <span *ngFor="let stagiaires of module.stagiaires; let last = last">
                        <a [routerLink]="['/stagiaire', stagiaires?.id, 'view' ]">{{stagiaires.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="laFactoryApp.module.cursus">Cursus</span></dt>
                <dd>
                    <span *ngFor="let cursus of module.cursuses; let last = last">
                        <a [routerLink]="['/cursus', cursus?.id, 'view' ]">{{cursus.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/module', module.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
