<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-salle-heading" jhiTranslate="laFactoryApp.salle.home.createOrEditLabel">Create or edit a Salle</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!salle.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="salle.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryApp.salle.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="salle.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryApp.salle.cout" for="field_cout">Cout</label>
                    <input type="number" class="form-control" name="cout" id="field_cout"
                        [(ngModel)]="salle.cout" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryApp.salle.dispo" for="field_dispo">Dispo</label>
                    <input type="checkbox" class="form-control" name="dispo" id="field_dispo"
                        [(ngModel)]="salle.dispo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryApp.salle.dateDebut" for="field_dateDebut">Date Debut</label>
                    <div class="input-group">
                        <input id="field_dateDebut" type="text" class="form-control" name="dateDebut" ngbDatepicker  #dateDebutDp="ngbDatepicker" [(ngModel)]="salle.dateDebut"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryApp.salle.dateFin" for="field_dateFin">Date Fin</label>
                    <div class="input-group">
                        <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="salle.dateFin"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryApp.salle.capaciteMax" for="field_capaciteMax">Capacite Max</label>
                    <input type="number" class="form-control" name="capaciteMax" id="field_capaciteMax"
                        [(ngModel)]="salle.capaciteMax" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
